* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* header part start */
.header-section {
    padding: 2.5rem 9.375rem;
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    font-size: 1.125rem;
    font-weight: 500;
    color: #424242;
}

/* header part end */

/* banner part start */
.banner-section {}

.banner-content {
    text-align: center;
    margin: 70px auto 70px;
    width: 70%;

}

.banner-content h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.25rem;
}

.banner-content p {
    color: #727272;
    margin-bottom: 3.125rem;
}

.common-btn {
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
}

.banner-image img {
    width: 100%;
}

/* banner part end */

/* feature list part start */
.feature-list-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.3125rem 13.75rem 0rem;
    gap: 3.125rem;
}

.feature-list-section>div {
    flex: 1;
}

.feature-list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.feature-list-image img {
    width: 100%;
}

.feature-list-content h2 {
    font-size: 2.813rem;
    margin-bottom: 1.5rem;
}

.feature-list-heading-500 {
    font-weight: 500;
    color: #727272;
}

.feature-list-heading-700 {
    font-weight: 700;
    color: #FF900E;
}

.feature-list-content p {
    color: #727272;
    margin-bottom: 3.125rem;
}

/* feature list part end */

/* main feature part start */
.main-feature-section {
    padding: 8.125rem 9.375rem;
    display: flex;
    justify-content: space-between;
    gap: 3.125rem;
}

.main-feature-section>div {
    flex: 1;
}

.main-feature-content h2 {
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;
    position: relative;
    padding-left: 20px;
    margin-bottom: 1.5rem;
}

.main-feature-content h2::before {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FF900E;
    color: aquamarine;
    width: 7px;
    height: 100%;
    content: ' ';
}

.main-feature-content>p {
    color: #727272;
    margin-bottom: 0.625rem;
}

.main-feature-item {
    padding: 30px;
    box-shadow: 5px 5px 25px #42424215;
    margin-top: 1.25rem;
    border-radius: 5px;
}

.main-feature-item h4 {
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

.main-feature-item p {
    color: #727272;
}

.main-feature-image {
    position: relative;
}

.main-feature-image img {
    width: 100%;
    height: 100%;
}

.main-feature-image-content {
    padding: 2.8125rem 2.625rem;
    background: #FF900E;
    border-radius: 8px;
    position: absolute;
    bottom: -50px;
    left: -25px;
    z-index: 1;
    text-align: center;
}

.main-feature-image-content h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.main-feature-image-content p {
    font-size: 1.5625rem;
    font-weight: 500;
    color: #FFFFFF;
}

/* main feature part end */

/* fact part start */
.fact-section {
    padding: 0rem 9.375rem;
}

.fact-section h2 {
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.5rem;
}

.fact-section p {
    color: #727272;
}

.fact-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding: 3.125rem;
 
}

.fact-item {
    width: 12rem;
    height: 12rem;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}
.fact-item:hover{
    transform: scale(1.2);
}

.fact-item h3 {
    font-size: 2.813rem;
    font-weight: 600;
    color: #424242;
}

.fact-item h6 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}

/* fact part end */

/* project part start */
.project-section{
    padding: 2.5rem 9.375rem 0rem;
}
.project-section h2{
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.5rem;
}
.project-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}
.project-image img{
    width: 100%;
    max-height: 200px;
}
/* project part end */

/* sponsor part start */
.sponsor-section{
    padding: 5.125rem 9.375rem;
    text-align: center;
}
.sponsor-section h2 {
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.5rem;
}

.sponsor-section p {
    color: #727272;
}
.sponsor-image{
    margin-top: 3.125rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsor-image img{
    filter: grayscale(100%);
    transition: 0.5s;
}
.sponsor-image img:hover{
    filter: grayscale(0%);
}
/* sponsor part end */

/* footer part start */
.footer-section{
    text-align: center;
    background-color: #FFF4E7;
    margin: 0rem 9.375rem 3.375rem;
    border-radius: 8px;
}
.footer-section p{
    font-size: 1.25rem;
    color: #424242;
    padding: 2.188rem 0rem;
}
/* footer part end */



/* -------------
    responsive for mobile 
-------------*/
@media screen and (max-width: 576px) {
    .header-section {
        padding: 1.875rem 1.25rem;
    }

    nav {
        flex-direction: column;
        align-items: center;

    }

    nav ul {
        flex-direction: column;
        margin-top: 50px;
    }

    /* feature list part */
    .feature-list-section {
        padding: 30px 20px 0px 20px;
        flex-direction: column;
    }

    .feature-list-image {
        grid-template-columns: 1fr;
    }

    .feature-list-content {
        text-align: center;
    }

    /* main feature part */
    .main-feature-section {
        padding: 4.375rem 1.25rem;
        flex-direction: column;
    }

    .main-feature-image-content {
        padding: 2rem 1.8rem;
        bottom: -3.125rem;
        left: -1.25rem;
    }
    /* fact part */
    .fact-section {
        padding: 2rem 1.25rem;
        text-align: center;
    }
    .fact-content {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    /* project part */
    .project-section{
        padding: 2rem 1.25rem;
    }
    .project-image{
        grid-template-columns: 1fr;
    }
    /* sponsor part */
    .sponsor-section{
        padding: 0rem 1.25rem;
    }
    .sponsor-image{
        gap: 1.75rem;
        grid-template-columns: 1fr;
    }
    /* footer part */
    .footer-section{
        margin: 4rem 1.25rem 2rem;
    }
    .footer-section p{
        font-size: 1rem;
        padding: 2.188rem 1rem;
        line-height: 2rem;
    }
}

/* -------------
    responsive for tab 
-------------*/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .header-section {
        padding: 1.875rem 1.25rem;
    }

    nav ul {
        gap: 2rem;
        padding-left: 0px;
        width: calc(100%-40px);
    }

    /* feature list part */
    .feature-list-section {
        padding: 30px 20px 0px;
        flex-direction: column;
    }

    .feature-list-image {
        grid-template-columns: 1fr 1fr;
    }

    .feature-list-content {
        text-align: center;
    }

    /* main feature part */
    .main-feature-section {
        padding: 4.375rem 1.25rem;
        flex-direction: column;
    }

    .main-feature-image-content {
        padding: 2rem 1.8rem;
        bottom: -3.125rem;
        left: -1.25rem;
    }
    /* fact part */
    .fact-section {
        padding: 2rem 1.25rem;
        text-align: center;
    }
    .fact-content {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    /* project part */
    .project-section{
        padding: 2rem 1.25rem;
    }
    .project-image{
        grid-template-columns: repeat(2, 1fr);
    }
    /* sponsor part */
    .sponsor-section{
        padding: 0rem 1.25rem;
    }
    .sponsor-image{
        gap: 1.75rem;
        grid-template-columns: repeat(3, 1fr);
    }
    /* footer part */
    .footer-section{
        margin: 4rem 1.25rem 2rem;
    }
    .footer-section p{
        font-size: 1rem;
        padding: 2.188rem 1rem;
        line-height: 2rem;
    }
}