* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* header part start */
.header-section {
    padding: 40px 200px;
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/* header part end */

/* banner part start */
.banner-section {}

.banner-content {
    text-align: center;
    margin: 70px auto 70px;
    width: 70%;

}

.banner-content h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.25rem;
}

.banner-content p {
    color: #727272;
    margin-bottom: 3.125rem;
}

.common-btn {
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
}

.banner-image img {
    width: 100%;
}

/* banner part end */

/* feature list part start */
.feature-list-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 220px 0px 220px;
    gap: 50px;
}

.feature-list-section>div {
    flex: 1;
}

.feature-list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-list-image img {
    width: 100%;
}

.feature-list-content h2 {
    font-size: 2.813rem;
    margin-bottom: 1.5rem;
}

.feature-list-heading-500 {
    font-weight: 500;
    color: #727272;
}

.feature-list-heading-700 {
    font-weight: 700;
    color: #FF900E;
}

.feature-list-content p {
    color: #727272;
    margin-bottom: 3.125rem;
}

/* feature list part end */

/* main feature part start */
.main-feature-section {
    padding: 130px 200px;
    display: flex;
    justify-content: space-between;
    gap: 3.125rem;
}

.main-feature-section>div {
    flex: 1;
}



.main-feature-content h2 {
    font-size: 2.813rem;
    font-weight: 700;
    color: #131313;
    position: relative;
    padding-left: 20px;
    margin-bottom: 1.5rem;
}

.main-feature-content h2::before {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FF900E;
    color: aquamarine;
    width: 7px;
    height: 100%;
    content: ' ';
}

.main-feature-content > p {
    color: #727272;
    margin-bottom: 0.625rem;
}

.main-feature-item {
    padding: 30px;
    box-shadow: 5px 5px 25px #42424215;
    margin-top: 1.25rem;
    border-radius: 5px;
}
.main-feature-item h4{
    font-size: 1.25rem;
    margin-bottom: .75rem;
}
.main-feature-item p{
    color: #727272;
}


.main-feature-image img {
    width: 100%;
    height: 95%;
}
.main-feature-image-content{
    height: 5%;
    padding: 45px 42px;
    background: #FF900E;
border-radius: 8px;
}
/* main feature part end */



/* -------------
    responsive for mobile 
-------------*/
@media screen and (max-width: 576px) {
    .header-section {
        padding: 30px 0px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 50px;
    }

    /* feature part */
    .feature-list-section {
        padding: 30px 20px 0px;
        flex-direction: column;
    }

    .feature-list-image {
        grid-template-columns: 1fr;
    }

    .feature-list-content {
        text-align: center;
    }
}

/* -------------
    responsive for tab 
-------------*/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .header-section {
        padding: 30px 50px;
    }

    /* feature list part */
    .feature-list-section {
        padding: 30px 20px 0px;
        flex-direction: column;
    }

    .feature-list-image {
        grid-template-columns: 1fr 1fr;
    }

    .feature-list-content {
        text-align: center;
    }
}